.button{
    margin-top: 32px;
}

.button button{
    width: 100%;
    padding: 24px;
    background-color: #8B0000;
    border: none;
    border-radius: 16px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}